body {
    background-color: aliceblue;
}
h2 {
    font-family: sans-serif;
    text-align: center;
}
#buttons {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.buttons_style {
    background-color:azure;
    font-size: 1.5vw;
    border-radius: 10px;
    font-family:sans-serif;
    padding: 10px;
}
